*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}
.circle
{
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle .point
{
    width: 9px;
    height: 9px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    transform: rotate(calc(var(--i)*var(--rot))) translate(-50px) scale(0);
    animation: animate 0.7s linear infinite;
    animation-delay: calc(var(--i)*0.03s);
}
@keyframes animate
{
    0%,100%
    {
        transform: rotate(calc(var(--i)*var(--rot))) translate(-50px) scale(0);
    }
    50%
    {
        transform: rotate(calc(var(--i)*var(--rot))) translate(-50px) scale(1);
    }
}